@model IEnumerable<ProyectoNotas.Areas.Api.Models.Estudiante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Grupos
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupos.Numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EstudianteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EstudianteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EstudianteId })
        </td>
    </tr>
}

</table>
