@model IEnumerable<ProyectoNotas.Areas.Api.Models.Colegio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            NombreColegio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreColegio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ColegioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ColegioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ColegioId })
        </td>
    </tr>
}

</table>
