@model ProyectoNotas.Areas.Api.Models.Asignatura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Asignatura</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Grado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grado)
    </div>

    <div class="display-label">Colegios</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Colegios.NombreColegio)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AsignaturaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
