@model IEnumerable<ProyectoNotas.Areas.Api.Models.Asignatura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Grado
        </th>
        <th>
            Colegios
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colegios.NombreColegio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AsignaturaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AsignaturaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AsignaturaId })
        </td>
    </tr>
}

</table>
