@model ProyectoNotas.Areas.Api.Models.Grupo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Grupo</legend>

    <div class="display-label">Grado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grado)
    </div>

    <div class="display-label">Numero</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numero)
    </div>

    <div class="display-label">Colegios</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Colegios.NombreColegio)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GrupoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
