@model ProyectoNotas.Areas.Api.Models.Grupo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Grupo</legend>

        @Html.HiddenFor(model => model.GrupoId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Grado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Grado)
            @Html.ValidationMessageFor(model => model.Grado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ColegioId, "Colegios")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ColegioId", String.Empty)
            @Html.ValidationMessageFor(model => model.ColegioId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
