@model ProyectoNotas.Areas.Api.Models.Acudiente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Acudiente</legend>

    <div class="display-label">Nombres</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombres)
    </div>

    <div class="display-label">Apellidos</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellidos)
    </div>

    <div class="display-label">Colegios</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Colegios.NombreColegio)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AcudienteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
